.ant-pagination .ant-pagination-item-active a {
  color: #004c70 !important;
}

:where(.css-dev-only-do-not-override-1odpy5d).ant-pagination
  .ant-pagination-item-active {
  border-color: #004c70 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #004c70 !important;
  border-color: #004c70 !important;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-1odpy5d).ant-btn-variant-dashed:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: #004c70;
  border-color: #004c70;
  background: #ffffff;
}
