.ant-menu-item-selected {
  background-color: #fff !important;
  color: #143a59 !important;
}

.menu-item-premium {
  font-weight: 600;
  font-size: 16px;
}

.ant-menu-sub.ant-menu-inline {
  background: transparent !important;
}
